body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5ebe6;
}

code {
  font-family: "Poppins", sans-serif;
}

.text-center {
  font-size: 5rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}
.span-name {
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  color: red;
}
.row{
  margin-top: 2rem;
}
.form-control{
  width: 35rem;
  height: 20rem;
  box-shadow: 10px 10px 5px #b1b1b188;
}
.btn-info{
  width: 15rem;
  height: 3rem;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  border-radius: 3rem;
  background-color: #3bdbff;
  border: none;
}
.btn-info:hover{
  background-color: #00aeff;
}
p{
  font-size: 1.2rem;
}
.time{
  font-size: 1.5rem;
  font-weight: 300;
}
.table-output{
  background-color: #f5ebe6;
}
.btn-danger{
  background-color: red;
margin-left: 1rem;
}
.btn-danger:hover{
  background-color: rgb(187, 5, 5);
}